div(class="row")
        div(class="col-12")
         table(class="table table-striped")
            thead(class="table-dark")
                tr
                    th(scope="col") ID
                    th(scope="col") Titulo
                    th(scope="col") Precio
                    th(scope="col") Imagen   
            tbody(id="tbody")
                each producto in productos
                    tr(class="fila")
                        td= producto.id
                        td= producto.title
                        td= producto.price
                        td
                            img(src=producto.thumbnail, alt=producto.title, width="10px" height="10px")
